@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

/* Global styles */ 

html {
    overflow-x: hidden !important; 
}

body {
    background-color: #FFF8F0;
    color: #392F5A;
}

h1 {
    font-family: 'Lato', sans-serif;
    font-size: 50px;
    letter-spacing: 34px;
    font-weight: 900;
}

h2 {
    font-family: 'Lato', sans-serif;
    font-size: 25px;
    letter-spacing: 5px;
    font-weight: 700;
}

p {
    font-family: 'Lato', sans-serif;
}

form label {
    font-family: 'Lato', sans-serif;
    letter-spacing: 1px;
}

i {
    color: #392F5A;
}

/* Navbar */ 

.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #FFF8F0;
    color: #392F5A
}

.navbar ul {
    margin: auto;
    padding: 0;
    overflow: hidden;
}

.navbar ul li a {
    color: #392F5A;
}

nav ul li {
        list-style: none;
        font-family: 'Lexend Deca', sans-serif;
        letter-spacing: 2px;
        font-size: 12px;
        margin-right: 25px;
        margin-left: 25px;
    }

.navbar-toggler-icon {
    float: right;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(0,0,0,1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='4' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navlink-active {
    font-weight: 900;
    color: #FF8811;
}

/* Navbar link effect. */

.dd-link {
  position: relative;
  display: inline-block;
  text-decoration: none;
  font-size: 12px;
  z-index: 1;
  transition: all .2s;
}
.dd-link::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 1;
  transition: all .15s;
  z-index: -1;
}
/* Slider */
.dd-link.slide {
  overflow: hidden;
}
.dd-link.slide span {
  display: inline-block;
  transition: all .5s;
}
.dd-link.slide span::after {
  position: absolute;
  left: 0;
  content: attr(dd-text);
  color: #FF8811;
}
.dd-link.slide.bottom span::after {
  transform: translateY(-200%);
}
.dd-link.slide.bottom:focus span,
  .dd-link.slide.bottom:hover span {
  transform: translateY(200%);
}

/* Grow Rotate */

.hvr-grow-rotate {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }

.hvr-grow-rotate:hover, .hvr-grow-rotate:focus, .hvr-grow-rotate:active {
    -webkit-transform: scale(1.1) rotate(4deg);
    transform: scale(1.1) rotate(4deg);
}



/* hero section */ 

#home-hero {
    margin: 0 auto;
    width: 100vw;
    height: 60vh;
}

#home-hero h1 {
    margin-top: 150px;
    font-size: 80px;
}

#home-hero span {
    font-size: 100px;
    color: #FF8811;
}

#home-hero p {
    font-family: 'Lato', sans-serif;
    letter-spacing: 10px;
    padding-top: 5px;
    font-weight: 600;
}

@media screen and (max-width: 900px) {
    
    /* hero styling on mobile */

    #home-marketing {
        background-color:#000;
        height: 450px;
    }

    #home-hero h1 {
        font-size: 35px;
        letter-spacing: 14px;
    }

    /* to ensure appropriate spacing in hero section on mobile view */

    #home-hero {
        height: 200px;
    }

    #home-hero h1 {
        margin-top: 50px;
        margin-bottom: 20px;
    }

    #home-hero p {
        font-size: 10px;
    }

    #home-marketing h2, #home-marketing ul {
        margin: 0;
    }
}

/* intro section of home page */ 

#home-introduction img {
    height: 70%;
    display: block;
    margin: 0 auto;
}

@media screen and (min-width: 1000px) {
    #introduction-p {
        margin-top: 100px;
    }   

    #home-marketing {
        background-image: url("../images/home-marketing-bg.png");
        height: 100vh;
        width: 100vw;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }
}

.intro {
    height: 450px;
}

.intro img {
    padding-top: 30px;
}

.card-body {
    border-style: none;
    padding: 100px 0;
}

div.card {
    border-style: none;
}

.svg-image {
    filter: grayscale(100) 
}

img:hover {
  filter:none;
}

.card-body img {
    height: 100px;
    width: 100px;
}

#home-marketing h2, #home-marketing ul {
    color: black;
}

#home-marketing > #home-marketing-text{
    float: right;
}

/* mobile, tablet, and laptop stylings to ensure consistency of margins */

@media screen and (min-width: 300px) {
    #home-marketing > #home-marketing-text {
        margin-right: 20px;
        margin-left: 20px;
        padding: 20px 0;
    }

    #home-marketing > #home-marketing-text h2 {
        padding: 20px;
    }

    #home-introduction {
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media screen and (min-width: 1000px) {
    #home-marketing > #home-marketing-text {
        margin-top: 10px;
        margin-right: 40px;    
    }
}

@media screen and (min-width: 1140px) {
    #home-marketing > #home-marketing-text {
        margin-top: 100px;
        margin-right: 180px;
        padding: 10px;
    }
}



/* DEVELOPMENT PAGE */

#dev-head h1 {
    font-size: 30px;
    letter-spacing: 10px;
    margin-top: 100px;
}

#dev-head span {
    color: #FF00D6;
}

.ms1-website {
    margin-left: 0;
	margin-right: 0;
	float: none;
}

.ms1-website img {
    height: 50%;
}

/* FOOTER */ 

footer {
    height: 100px;
}

.footer {
    margin-top: 20px;
}

.footer i {
    font-size: 40px;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
}

.footer a, .footer p span i {
    color: #fff;
    text-decoration: none;
    font-size: 10px;
}

.footer p span i {
    padding: 0;
    padding-left: 5px;
}

.footer p {
    letter-spacing: 5px;
}

.footer i:hover {
    color: #FF00D6;
}