@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

/* Global styles */ 

html {
    overflow-x: hidden !important; 
}

body {
    background-color: #000;
    color: #fff;
}

h1 {
    font-family: 'Lato', sans-serif;
    font-size: 50px;
    letter-spacing: 34px;
    font-weight: 900;
}

h2 {
    font-family: 'Lato', sans-serif;
    font-size: 25px;
    letter-spacing: 5px;
    font-weight: 700;
}

p {
    font-family: 'Lato', sans-serif;
}

/* Navbar */ 

.navbar {
    margin-top: 30px;
}

.navbar ul {
    margin: auto;
    padding: 0;
    overflow: hidden;
}

.navbar ul li a {
    color: white;
}

nav ul li {
        list-style: none;
        font-family: 'Lexend Deca', sans-serif;
        letter-spacing: 6px;
        font-size: 12px;
        margin-right: 25px;
        margin-left: 25px;
    }

.navlink-active {
    font-weight: bold;
    color: #00FFFF;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(250,250,250,1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='4' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/* Navbar link effect. Credit: Design Drastic */ 

.dd-link {
  position: relative;
  display: inline-block;
  text-decoration: none;
  font-size: 12px;
  z-index: 1;
  transition: all .2s;
}
.dd-link::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 1;
  transition: all .15s;
  z-index: -1;
}
/* Slider */
.dd-link.slide {
  overflow: hidden;
}
.dd-link.slide span {
  display: inline-block;
  transition: all .5s;
}
.dd-link.slide span::after {
  position: absolute;
  left: 0;
  content: attr(dd-text);
  color: #FF00D6;
}
.dd-link.slide.bottom span::after {
  transform: translateY(-200%);
}
.dd-link.slide.bottom:focus span,
  .dd-link.slide.bottom:hover span {
  transform: translateY(200%);
}

/* hero section */ 

#home-hero {
    margin: 0 auto;
    width: 100vw;
    height: 90vh;
}

#home-hero h1 {
    margin-top: 150px;
    font-size: 80px;
}

#home-hero span {
    font-size: 100px;
    color: #00FFFF;
}

#home-hero p {
    font-family: 'Lato', sans-serif;
    letter-spacing: 10px;
    font-weight: 400;
}

@media screen and (max-width: 900px) {
    
    /* global styling on mobile */

    h1 {
        font-size: 35px;
        letter-spacing: 14px;
    }

    /* to ensure appropriate spacing in hero section on mobile view */

    #home-hero {
        height: 300px;
    }

    #home-hero h1 {
        margin-top: 50px;
        margin-bottom: 20px;
    }

    #home-hero p {
        font-size: 15px;
    }
}

/* intro section of home page */ 

#home-introduction img {
    height: 70%;
    display: block;
    margin: 0 auto;
}

@media screen and (min-width: 1000px) {
    #introduction-p {
        margin-top: 100px;
    }   
}

#home-marketing {
    background-image: url("../images/home-marketing-bg.png");
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

#home-marketing h2, #home-marketing ul {
    color: black;
}

#home-marketing h2 {
    float: right;
    margin-right: 180px;
    padding-top: 100px;
}

#home-marketing ul {
    clear: both;
    margin-left: 780px;
    padding-top: 80px;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

#home-marketing span {
    color: #FF00D6;
    font-size: 45px;
}

#dev-head h1 {
    font-size: 30px;
    letter-spacing: 10px;
    margin-top: 100px;
}

#dev-head span {
    color: #FF00D6;
}